* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 20px;
  background-color: #000;
}

/* Index.html css */

.avenger {
  color: #b75f08;
  text-decoration: none;
}

.title,
h2 {
  color: #f4ebeb;
  padding: 10px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: normal;
  margin: 10px auto;
  text-align: center;
  letter-spacing: 1.5;
}

nav {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
  background-color: #fff;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: #0a0a0a;
}

nav a:hover {
  color: #e6526f;
}

main {
  position: relative;
  width: 100%;
  height: auto;
}

.hero {
  width: 100%;
  margin-top: 20px;
}

.gallery {
  margin-left: 20px;
}

.thor,
.ironman,
.hulk,
.captain,
.black-widow,
.hawkeye {
  height: 300px;
  border-radius: 20px;
  margin: 20px;
  transition: transform 0.4s ease;
}

.thor:hover,
.ironman:hover,
.hulk:hover,
.hawkeye:hover,
.black-widow:hover,
.captain:hover {
  transform: scale(1.1);
}

footer {
  margin-top: 50px;
  color: #000;
  padding: 26px;
  text-align: center;
  font-size: 24px;
  background-color: #fff;
}

span {
  font-style: italic;
  color: rgb(70, 145, 145);
  text-decoration: underline;
}

/* About.html css */

.container {
  color: #fff;
}

.about-title {
  font-size: 26px;
  text-align: center;
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  line-height: 1.5;
}
