body {
  font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 34px;
  display: block;
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial,
    sans-serif;
  line-height: 26px;
}

h2 {
  text-decoration: underline;
}

div.gallery img {
  width: 100%;
}

header {
  position: relative;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
}

nav a:hover {
  transform: scale(1.3);
  color: #121a63;
}

b {
  color: #074897;
}

.avenger-title {
  margin-top: 15px;
  color: #cfd3dd;
  background-color: #101010;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.avenger-intro {
  letter-spacing: 0.5px;
  line-height: 18.2px;
  display: block;
}

.stats-container {
  text-align: center;
  color: #fff;
}

.avenger-facts {
  position: absolute;
  top: 115%;
  display: flex;
}

.bio,
.stats {
  line-height: 1.5;
  color: #fff;
}

.description {
  margin-top: 15px;
  padding: 30px 50px;
  line-height: 2.2;
  letter-spacing: 2;
  text-align: justify;
  color: #eee9e9;
  background-color: #000;
}

.stat-img {
  width: 100%;
}

.avenger-quote {
  text-align: center;
  padding-top: 20px;
  color: #fff;
}
