body {
  font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

h1 {
  text-transform: uppercase;
  color: #6a1212;
  font-size: 54px;
  display: block;
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial,
    sans-serif;
  line-height: 26px;
}

h2 {
  text-decoration: underline;
}

.main-img {
  width: 100%;
}

header {
  position: relative;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  backdrop-filter: blur(15px);
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
}

nav a:hover {
  transform: scale(1.3);
  color: #d73c35;
}

.avenger-title {
  position: absolute;
  top: 60%;
  padding-left: 20px;
  color: #000;
  font-weight: 500;
}

.avenger-intro {
  margin-top: 300px;
  letter-spacing: 0.5px;
  line-height: 3.5;
  width: 600px;
}

.banner {
  margin-top: 40px;
  width: 100%;
  height: 80px;
  background: linear-gradient(#fdfeff, #ff6b64, #ff9152, #cf1216, #6a1212);
}

.stats-container {
  margin-top: 10px;
}

.avenger-facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: justify;
}

.bio {
  margin-left: 100px;
}

b {
  color: #6a1212;
}

.description {
  padding: 20px;
  line-height: 2.2;
  font-size: 20px;
  letter-spacing: 2;
  text-align: justify;
}
