body {
  font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 34px;
  font-family: "RobotoCondensed Bold", "Trebuchet MS", Helvetica, Arial,
    sans-serif;
  line-height: 26px;
}

h2 {
  text-decoration: underline;
}

header {
  position: relative;
}

nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(15px);
}

nav a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
}

select {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}

nav a:hover,
select.drop-down:hover {
  transform: scale(1.3);
  color: #d73c35;
}

select > option {
  color: #000;
  border: none;
}

.drop-down {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}

b {
  color: #6a1212;
}

.avenger-title {
  position: absolute;
  top: 60%;
  color: #000;
}

.title {
  color: #ab0d0d;
  text-align: center;
}

.avenger-intro {
  margin-top: 200px;
  line-height: 1.8;
  width: 600px;
  font-size: 20px;
  text-align: center;
}

.banner {
  margin-top: 40px;
  width: 100%;
  height: 80px;
  background: linear-gradient(#fdfeff, #ff6b64, #ff9152, #cf1216, #6a1212);
}

.stats-container {
  margin-top: 10px;
}

.stats-img {
  border-radius: 10px;
}

.avenger-facts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: justify;
  font-size: 20px;
}

.description {
  line-height: 1.8;
  font-size: 20px;
  text-align: justify;
}
